

.col-md-7 {
    background-color: rgb(91, 246, 246);
    margin-right: 45%;
    display: flex;
}
.contact-form {
    margin-top: 40px;
    margin-left: 55%;
    
}
.absolute-text{
    color: rgb(255, 255, 255);
    /* padding-top: 20px; */
    font-family: 'Ubuntu', sans-serif;
    /* transform: rotate(-90deg);
    margin-right: 10%; */
}
.row {
    margin: 5px;
    margin-left: -5px;
    display: inline-block;
}
.col-md-6 {
    padding: 5px;
    display: inline-block;
}

.col-md-5 {
    margin-right: -600px;
    /* text-decoration: none; */
}
/* .appointment-text {
    margin-top: 10%;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
} */

.appointment-text ul {
    list-style-type: none;
    padding-left: 20px;
    padding-top: 10px;
}
.appointment-text ul li {
    padding-top: 20px;
}


.bi-shield-shaded {
    color: rgb(34, 235, 235);
    padding-right: 15px;
    /* padding-left: 10px; */
}
.btn {
    height: 35px;
    width: 155px;
    background-color: rgb(34, 235, 235);
    border-color: rgb(34, 235, 235);
    border-radius: 6px;
    margin-top: 10px;
    color: white;
    
}

